.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.color-two{
  color: lightblue;
}
.rezervuota {
  background: rgb(89, 88, 146) !important;
  color: white
}
.reservation {
  border: 1px solid rgb(185, 196, 207);
}
.reservation__header {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items:center;
  margin:50px 0;
}
.reservation__data {
  font-size: 2.5em;
  margin:0 20px;
}
.reservation__item {
  border-bottom: 1px solid rgb(185, 196, 207);
}
.reservation__item:nth-child(odd) {
  background: rgb(246, 246, 250)
}
.reservation__item:last-child {
  border-bottom: 0;
}
.reservation__unit {
  border-right: 1px solid rgb(185, 196, 207);
}
.reservation__unit h3 {
  font-size:1em;
}
.reservation__unit p {
  font-size:1.5em;
  font-weight:700;
}
.reservation__unit:last-child {
  border-right: 0;
}

.forma {
  
  background:white;
  border-radius: 10px;
  padding: 50px 30px;
}
.forma form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

}

.forma button {
  width: 50%;
  margin-top: 20px;
}
.forma h2{
  
  font-size:3em;
  padding-bottom: 20px;
}
.client input {
 margin-bottom:20px
}
.client__list {
  padding:0 !important;
  height:400px;
  overflow-y: auto;
  overflow-x: hidden;
  border:1px solid rgb(185, 196, 207)
  
}
